.add-student{
  .container{
    display: flex;
    justify-content: center;
    // margin: 1rem 5%;
    .card-outer{
      width: 100%;
      // display: flex;
      // justify-content: center;
      
    }
    .main-card{
      width: 100%;
      // width: 700px;
      // box-shadow: var(--sub-card-box-shadow);
    }
  }
}