.tooltip-wrapper{
  position: relative;
  &:hover{
    .tooltip{
      display: flex;
      pointer-events: auto;
    }
  }
  .tooltip{
    background: #1496bb;
    bottom: 100%;
    color: #fff;
    font-size: 0.75rem;
    display: none;
    bottom: -3rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    padding: 0.3rem 0.5rem;
    position: absolute;
    width: max-content;
    z-index: 900;
    transition: all .25s ease-out;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    &::after{
      border-left: solid transparent 10px;
      border-right: solid transparent 10px;
      border-bottom: solid #1496bb 10px;
      top: -10px;
      content: " ";
      height: 0;
      left: 50%;
      transform: translateX(-50%);
      // margin-left: -13px;
      position: absolute;
      width: 0;
    }
  }
}


//media queries
@media (max-width: 1024px){
  .tooltip-wrapper{
    .tooltip{
      display: none !important;
    }
  }
}
