:root{
  //colors
  --primary: #1368FB;
  --primary-light1: #E7F0FF;
  --primary-light2: #e7f0ff6f;
  --primary-dark: #1743A4;
  --secondary: #060316;
  --white: #fff;
  --black: #000;
  --light-black: #00000091;
  --red: #e7515a;
  --orange: #e2a03f;
  --green: #1baa70;
  --yellow: #e2a03f;
  --light-blue: #9BE7F8;
  --blue: #00a3c8;
  --orange: #FFA800;
  --grey: #5f5f5f;
  --light-grey: #9f9e9e;
  --dark-grey: #3b3f5c;
  --dark-blue: #16264F;
  --heading-color: #003483ed;

  //common
  --navbar-bg: #fff;
  --btn-bg: #5526ab;
  --footer-bg: lightgrey;
  --box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  --border-color: #e4e4e4;
  --table-header-bg-color: #f3f7f9;
  --card-box-shadow: 0 4px 6px 0 rgba(85, 85, 85, 0.08), 0 1px 20px 0 rgba(0, 0, 0, 0.07), 0px 1px 11px 0px rgba(0, 0, 0, 0.07);
  --card-header-bg: #030927;

  --green-gradient: linear-gradient(to right, #3cba92 0%, #0ba360 100%);
  --primary-gradient: linear-gradient(to right, #7579ff 0%, #b224ef 100%);
  --blue-gradient: linear-gradient(to right, #7579ff 0%, var(--blue) 100%);
  --yellow-gradient: linear-gradient(to right, #f09819 0%, #ff5858 100%);

  //text
  --sub-card-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

  /* Global settings */
  --color-border: #eee;
  --color-label: #aaa;

}
