// Progress bar bg colours
$bar-default-bg: #3798d9;

// ADDS A BROWSER PREFIX TO THE PROPERTY
@mixin browser_prefix($property, $value) {
  -webkit-#{$property}: #{$value};
  -moz-#{$property}: #{$value};
  -ms-#{$property}: #{$value};
  -o-#{$property}: #{$value};
  #{$property}: #{$value};
}

// KEYFRAMES
@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

// ANIMATION
@mixin animation($str) {
  @include browser_prefix("animation", $str);
}

@mixin cssProgressGlowActive($name, $color) {
  @include keyframes($name) {
    0%,
    100% {
      box-shadow: 5px 0px 15px 0px #{$color};
    }
    45% {
      box-shadow: 1px 0px 4px 0px #{$color};
    }
  }
}

/* -----------------------------------------------------
	CSS Progress Bars
-------------------------------------------------------- */
.cssProgress {
  width: 100%;
  margin-bottom: 20px;

  .progress3 {
    position: relative;
    overflow: hidden;
    width: 100%;
    font-family: "Roboto", sans-serif;
  }

  .cssProgress-bar {
    display: block;
    float: left;
    width: 0%;
    height: 100%;
    background: $bar-default-bg;
    box-shadow: inset 0px -1px 2px rgba(0, 0, 0, 0.1);
    transition: width 0.8s ease-in-out;
  }

  .cssProgress-label {
    position: absolute;
    overflow: hidden;
    left: 0px;
    right: 0px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 0.7em;
    text-align: center;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.3);
  }

  .cssProgress-active {
    background-image: linear-gradient(
      -45deg,
      rgba(255, 255, 255, 0.125) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.125) 50%,
      rgba(255, 255, 255, 0.125) 75%,
      transparent 75%,
      transparent
    );
    background-size: 35px 35px;
  }

  .cssProgress-active {
    @include animation("cssProgressActive 2s linear infinite");
  }

  @include keyframes("cssProgressActive") {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 35px 35px;
    }
  }

  @include keyframes("cssProgressActiveRight") {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: -35px -35px;
    }
  }
}
.progress3 {
  width: auto !important;
  padding: 4px;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 3px;

  .cssProgress-bar {
    height: 16px;
    border-radius: 3px;
  }

  .cssProgress-label {
    line-height: 16px;
  }
}
